<%# Write your code here! %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>

    <form action="/greet" method="post">
      <input type="text" name="user_name" default="What is your name?" />

      <button type="submit" name="submit">Submit</button>
    </form>

  </body>
</html>
